.containers{
    height: 100vh;
    display: grid;
    grid-template-columns: 500px 300px 500px;
    grid-template-rows: 350px 350px;
}
    .containerA{
        display: flex;
        justify-content: center;
        color: white;
        background-color: greenyellow;
    }
    .containerB{
        display: flex;
        justify-content: center;
        color: white;
        background-color: orange;
    }
    .containerC{
        display: flex;
        justify-content: center;
        color: white;
        background-color: orangered;
    }
    .containerD{
        display: flex;
        justify-content: center;
        color: white;
        background-color: red;
    }
    .containerE{
        display: flex;
        justify-content: center;
        color: white;
        background-color: blue;
    }
    .containerF{
        display: flex;
        justify-content: center;
         background-color: yellow;
    }